div.row-fluid
  div#about.span4
    div#links.clearfix
      a.flatbtn.back(href="#albums")
        i.icon-arrow-left.icon-white
        span= t("Back")

      if 'undefined' != typeof id
        a.flatbtn.startediting(href="#albums/#{id}/edit")
          i.icon-edit.icon-white
          span= t("Edit")

        if photosNumber != 0
          a.flatbtn.download(href="albums/#{id}.zip")
            i.icon-download-alt.icon-white
            span= t("Download")

        a.flatbtn.stopediting(href="#albums/#{id}")
          i.icon-eye-open.icon-white
          span= t("View")

        a.flatbtn.delete
          i.icon-remove.icon-white
          span= t("Delete")

        a.flatbtn.clearance(
          href="#clearance-modal",
          data-toggle="modal")
          i.icon-upload.icon-white
          span= t(clearance)

    h1#title #{title}
    div#description!= description
  div#photos.span8

  #clipboard-container
    textarea(id="clipboard")
    
  #clearance-modal.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal") &times;
      h3 clearanceHelpers.title

    .modal-body clearanceHelpers.content

    .modal-footer      
      a#changeprivate.btn.changeclearance= t("Make it Private")
      a#changehidden.btn.changeclearance= t("Make it Hidden")
      a#changepublic.btn.changeclearance= t("Make it Public")
      a.btn.share(
        href="#share-modal",
        data-toggle="modal",
        data-dismiss="modal")
        span= t("Share album by mail")

  #share-modal.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal") &times;
      h3= t("Share album")

    .modal-body 
      input.input-block-level(type="text", value="", id="mails", placeholder="example@cozycloud.cc, other-example@cozycloud.cc")

    .modal-footer 
      a.btn.addcontact(
        href="#add-contact-modal",
        data-toggle="modal",
        data-dismiss="modal")
        span= t("Add contact")
      a.btn.sendmail(type="button", data-dismiss="modal")
        span= t("Send mail")    



  #add-contact-modal.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal") &times;
      h3= t("Select your friends")

    .modal-body 
      #contacts.input
        if contacts.length === 0
          p= t("Upload your contacts ...")
        else
          each contact in contacts
            input(type="checkbox", name="#{contact.index}", id ="#{contact.index}").checkbox
            span #{contact.fn}
            br

    .modal-footer      
      a.btn.add(
        href="#share-modal",
        data-toggle="modal",
        data-dismiss="modal")
        span= t("Add")

      a.btn.cancel(
        href="#share-modal",
        data-toggle="modal",
        data-dismiss="modal")
        span= t("Cancel")
