div#about
  div.clearfix
    div#links.clearfix
        p.back
            a.flatbtn(href="#albums")
                span.glyphicon.glyphicon-arrow-left.icon-white
                span= t("Back")
        p.startediting
             a.flatbtn(href="#albums/#{id}/edit")
                span.glyphicon.glyphicon-edit.icon-white
                span= t("Edit")
        p.stopediting
            a.flatbtn(href="#albums/#{id}")
                span.glyphicon.glyphicon-arrow-left.icon-white
                span= t("Stop editing")
        P.clearance
            a.flatbtn.clearance
                if clearance == 'public'
                  span.glyphicon.glyphicon-globe.icon-white
                  | &nbsp;
                  | #{t('public')}
                else if clearance && clearance.length > 0
                  span= clearance.length
                  span.glyphicon.glyphicon-share.icon-white
                  | &nbsp;
                  | #{t('shared')}
                else
                  span.glyphicon.glyphicon-lock.icon-white
                  | &nbsp;
                  | #{t('private')}
        p.download
            a.flatbtn(href="albums/#{id}.zip")
                span.glyphicon.glyphicon-download-alt.icon-white
                span= t("Download")

        p.delete
            a.flatbtn.delete
                span.glyphicon.glyphicon-remove.icon-white
                span= t("Delete")

    div#album-text
        div#album-text-background

            div.right
                p
                    span.photo-number= photosNumber
                    br
                    span= t("pictures")
 
            form.left
                input#title(type="text", placeholder="Title...", value=title)
                textarea#description(placeholder="Description...")!= description
           
div#photos.clearfix
  //-div#rebuild-th
      //-a#rebuild-th-btn= t("rebuild thumbnails")
