div#about
  div.clearfix
    div#links.clearfix
        p.back
            a.flatbtn(href="#albums")
                span.fa.fa-arrow-left.icon-white
                span= t("Back")
        p.startediting
             a.flatbtn(href="#albums/#{id}/edit")
                span.fa.fa-edit.icon-white
                span= t("Edit")
        p.stopediting
            a.flatbtn.stopediting(href="#albums/#{id}")
                span.fa.fa-save.icon-white
                span= t("Stop editing")
        p.download
            a.flatbtn(href="#{downloadPath}")
                span.fa.fa-download.icon-white
                span= t("Download")
        p.delete
            a.flatbtn.delete
                span.fa.fa-trash.icon-white
                span= t("Delete")
        p.clearance
            a.flatbtn.clearance
                span.fa.fa-share-alt.icon-white
                span= t("share")
    div#album-text
        div#album-text-background

            div.right
                p
                    span.photo-number= photosNumber
                    br
                    span.photo-count= t("picture", {smart_count: photosNumber})

            form.left
                div
                    span.clearance-state
                        if clearance == 'public'
                            span.fa.fa-globe
                            | &nbsp;
                            | #{t('shared')}
                        else if clearance && clearance.length > 0
                            span.fa.fa-share-alt
                            | &nbsp;
                            | #{t('shared')}
                            if clearance.length
                                span &nbsp;(#{clearance.length})
                input#title(type="text", placeholder="#{t('title placeholder')}", value=title)
                textarea#description(placeholder="#{t('description placeholder')}")!= description

div#photos.clearfix
  //-div#rebuild-th
      //-a#rebuild-th-btn= t("rebuild thumbnails")
