div.row-fluid
  div#about.span4
    div#links.clearfix
      a.flatbtn.back(href="#albums")
        i.icon-arrow-left.icon-white
        span Back

      if 'undefined' != typeof id
        a.flatbtn.startediting(href="#albums/#{id}/edit")
          i.icon-edit.icon-white
          span Edit

        a.flatbtn.download(href="albums/#{id}.zip")
          i.icon-download-alt.icon-white
          span Download


        a.flatbtn.stopediting(href="#albums/#{id}")
          i.icon-eye-open.icon-white
          span View

        a.flatbtn.delete
          i.icon-remove.icon-white
          span Delete

        a.flatbtn.clearance(
          href="#clearance-modal",
          data-toggle="modal")
          i.icon-upload.icon-white
          span #{clearance}

    h1#title #{title}
    div#description #{description}
  div#photos.span8

  #clearance-modal.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal") &times;
      h3 clearanceHelpers.title

    .modal-body clearanceHelpers.content

    .modal-footer
      a#changeprivate.btn.changeclearance Make it Private
      a#changehidden.btn.changeclearance  Make it Hidden
      a#changepublic.btn.changeclearance  Make it Public
