.files
    if dates.length === 0
        p= t("photos search")
    else if dates === "No photos found"
        p= t("no photos found")
    else
        for date in dates
            h4 #{t(date.split('-')[1])} #{date.split('-')[0]}
            br
            for photo in photos[date]
                img(src="files/thumbs/#{photo.id}.jpg", id="#{photo.id}")
            br
        if hasPrev
            a.btn.btn-cozy.left.prev
                p &#12296 #{t('modal prev')}
        if hasNext
            a.btn.btn-cozy.right.next
                p #{t('modal next')} &#12297
